snippet $$ "inline math" iA
$$1$
endsnippet

snippet () "parentheses" iA
($1)
endsnippet

snippet [] "brackets" iA
[$1]
endsnippet

snippet {} "braces" iA
{$1}
endsnippet

snippet <> "angle brackets" iA
\langle $1 \rangle
endsnippet

snippet __ "subscript" iA
_{$1}
endsnippet

snippet ^^ "superscript" iA
^{$1}
endsnippet
